<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
  </configSections>
  <appSettings>
    <add key="ClientConnectType" value="Oracle"/>
    <add key="AppServer" value="127.0.0.1"/>
    <add key="TargetDBType" value="SQLSERVER" />
    <add key="WebServiceUrl" value="http://127.0.0.1/Service.asmx" />
    <add key="DBType" value="ORACLE" />
    <add key="TimeKind" value="discharge_date_time" />
    <add key="ExportType" value="EXCEL" />
    <add key="DbfPath" value="D:\" />
    <add key="DbfOutPutDir" value="D:\" />
    <add key="ExcelOutPutDir" value="D:\" />
    <add key="ExcelPath" value="D:\" />
    <add key="UploadFlag" value="FALSE" />
    <add key="UseInterface" value="FALSE" />
    <add key="XmlOutPutPath" value="E:\" />
    <add key="UseAdapterSQL" value="FALSE" />
    <add key="AdapterSQL" value="SELECT PATIENT_ID,VISIT_ID,mr_back_date_time,trunc(sysdate-1) statdate,trunc(sysdate-2) enddate FROM PAT_VISIT t WHERE t.mr_back_date_time between trunc(sysdate-1) and trunc(sysdate-2)" />
  </appSettings>
  <dataConfiguration defaultDatabase="DataAccess"/>
  <connectionStrings>
    <add name="EMR" connectionString=" Server=127.0.0.1;Provider=MSDAORA.1; Data Source=jhemr;User ID=emr;Password=emr" />
    <add name="TARGET" connectionString=" Server=127.0.0.1;Provider=MSDAORA.1; Data Source=jhemr;User ID=emr;Password=emr" />
    <add name="TARGET2" connectionString=" Server=127.0.0.1;Provider=MSDAORA.1; Data Source=dcplocal;User ID=jhdcp;Password=jhdcp" />
    <add name="Oracle" connectionString="Data Source=dcplocal;Password=jhdcp;User ID=jhdcp;Unicode=True" providerName="System.Data.OracleClient"/>
    <add name="TARGET1" connectionString=" Server=127.0.0.1;Provider=SQLOLEDB; initial catalog=DT;User ID=sa;Password=Whl05043016" />
  </connectionStrings>
 
</configuration>